{% extends 'layout.html' %}

{% block title %}OhMyDog - Agregar Desparacitacion{%endblock %}

{% block content %}

<div class="container" style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	">
    <div class="card" style="border-radius: 1rem">

        <div class="container py-5">
            <h1 class="text-center mb-4">Registrar Nueva Desparacitacion</h1>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fecha_de_atencion" class="form-label">Fecha de Atencion</label>
                            <input type="date" class="form-control" id="fecha_de_atencion" name="fecha_de_atencion"
                                required />
                        </div>

                        <div class="mb-3">
                            <label for="parasito" class="form-label">Parasito</label>
                            <input type="text" class="form-control" id="parasito" name="parasito"
                                placeholder="Ingrese el parasito" required />
                        </div>
                        <div class="mb-3">
                            <label for="farmaco" class="form-label">Farmaco</label>
                            <input type="text" class="form-control" id="farmaco" name="farmaco"
                                placeholder="Ingrese el farmaco utilizado" required />
                        </div>
                        <div class="mb-3">
                            <label for="dosis" class="form-label">Dosis</label>
                            <input type="text" class="form-control" id="dosis" name="dosis"
                                placeholder="Ingrese la dosis recetada" required />
                        </div>
                        <div class="mb-3">
                            <label for="Observaciones" class="form-label">Observaciones</label>
                            <input type="text" class="form-control" id="observacion" name="observacion"
                                placeholder="Observaciones sobre la Atencion" />
                        </div>
                        <div class="mb-3">
                            <input type="hidden" id="perro" name="perro" value="{{ perro.id }}">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Registrar Desparacitacion
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}