{% extends 'layout.html' %} 

{% block title %}OhMyDog - Agregar cliente{%endblock %} 

{% block content %}

<div
	class="container"
	style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	"
>
	<div class="card" style="border-radius: 1rem">

		<div class="container py-5">
			<h2 class="text-center mb-4">Registrar nuevo cliente</h2>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<form method="post">
						{% csrf_token %}
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input
								type="email"
								class="form-control"
								id="email"
								name="email"
								placeholder="Ingrese email"
								required
							/>
						</div>
						<div class="mb-3">
							<label for="telefono" class="form-label"
								>Teléfono</label
							>
							<input
								type="tel"
								class="form-control"
								id="telefono"
								name="telefono"
								placeholder="Ingrese número telefónico"
								required
							/>
						</div>
						<div class="mb-3">
							<label for="nombre" class="form-label"
								>Nombre</label
							>
							<input
								type="text"
								class="form-control"
								id="nombre"
								name="nombre"
								placeholder="Ingrese nombre completo"
								required
							/>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">
								Registrar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}
