{% extends 'layout.html' %}

{% block title %}OhMyDog - Agregar atención clínica{%endblock %}

{% block content %}

<div class="container containerPrincipal">
    <div class="card" style="border-radius: 1rem">
        <div class="container py-5">
            <h1 class="text-center mb-4">Registrar nueva atención clínica</h1>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fecha_de_atencion" class="form-label">Fecha de atención</label>
                            <input type="date" class="form-control" id="fecha_de_atencion" name="fecha_de_atencion"
                                max="{{ hoy }}" required />
                        </div>
                        <div class="mb-3">
                            <label for="Observaciones" class="form-label">Observaciones</label>
                            <input type="text" class="form-control" id="observacion" name="observacion"
                                placeholder="Observaciones sobre la atención" required/>
                        </div>
                        <div class="mb-3">
                            <input type="hidden" id="perro" name="perro" value="{{ perro.id }}">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Registrar atención
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}