{% extends 'layout.html' %} 

{% block title %}OhMyDog - Datos de mi perro{%endblock %} 

{% block content %}

<div class="containerPequeño">
	<div class="card cardPequeño" id="datos_de_perro">
		<h1>Datos de {{perro.nombre}}</h1>
		<table class="table" style="float: none; width: 400px">
			<tbody>
				<tr>
					<th scope="row">Nombre</th>
					<td>{{ perro.nombre }}</td>
				</tr>
				<tr>
					<th scope="row">Raza</th>
					<td>{{ perro.raza }}</td>
				</tr>
				<tr>
					<th scope="row">Peso</th>
					<td>{{ perro.peso }}</td>
				</tr>
				<tr>
					<th scope="row">Sexo</th>
					<td>{{ perro.sexo }}</td>
				</tr>
				<tr>
					<th scope="row" type="date">Fecha de nacimiento</th>
					<td>{{ perro.fecha_de_nacimiento }}</td>
				</tr>
				<tr>
					<th scope="row">Descripción</th>
					<td>{{ perro.descripcion }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endblock%}
