{% extends 'layout.html' %} 

{% block title %}OhMyDog - Datos del cliente {{cliente.id}}{%endblock %} 

{% block content %}

<div
	class="container"
	style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	"
>
	<div
		class="card"
		style="display: flex; justify-content: center; align-items: center"
	>
		<body>
			<h1>Datos del cliente {{ cliente.id }}</h1>

			<div class="card">
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Correo Electrónico</th>
							<td>{{ cliente.email }}</td>
						</tr>
						<tr>
							<th scope="row">Nombre</th>
							<td>{{ cliente.nombre }}</td>
						</tr>
						<tr>
							<th scope="row">Teléfono</th>
							<td>{{ cliente.telefono }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</body>
	</div>
	<a
		type="button"
		class="btn btn-primary"
		href="{% url 'clientes' %}"
		style="width: 200px"
		>Regresar</a
	>
</div>
{% endblock %}
