{% extends 'layout.html' %}

{% block title %}OhMyDog - Datos de la desparasitación{%endblock %}

{% block content %}

<div>
    
    <p>

	</p> 
    <div style="padding-top: 100px" class="containerPequeño">
        <div class="card cardPequeño" id="mis_datos">
            <h1>Desparacitación</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Perro</th>
                        <td>{{ atencion.perro.nombre }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Raza</th>
                        <td>{{ atencion.perro.raza }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cliente</th>
                        <td>{{ atencion.perro.dueño.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha</th>
                        <td>{{ atencion.fecha }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Farmaco</th>
                        <td>{{ desparacitacion.farmaco }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fabricante</th>
                        <td>{{ desparacitacion.fabricante }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Numero de Serie</th>
                        <td>{{ desparacitacion.num_serie }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Numero de Lote</th>
                        <td>{{ desparacitacion.num_lote }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Dosis</th>
                        <td>{{ desparacitacion.dosis }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Observaciones</th>
                        <td>{{ atencion.observacion }}</td>
                    </tr>
                </tbody>
            </table>
            {% if user.is_staff %}
            <button type="button" id="modificar_datos" class="btn btn-primary">Modificar observacion</button>
            {%endif%}
        </div>

        <div class="card" id="formulario_modificar_datos" style="display: none;">
            <h1>Desparacitación</h1>
            <form method="post">
                {% csrf_token %}
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Perro</th>
                            <td>{{ atencion.perro.nombre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Raza</th>
                            <td>{{ atencion.perro.raza }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Cliente</th>
                            <td>{{ atencion.perro.dueño.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha</th>
                            <td>{{ atencion.fecha }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Farmaco</th>
                            <td>{{ desparacitacion.farmaco }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Fabricante</th>
                            <td>{{ desparacitacion.fabricante }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Numero de Serie</th>
                            <td>{{ desparacitacion.num_serie }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Numero de Lote</th>
                            <td>{{ desparacitacion.num_lote }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Dosis</th>
                            <td>{{ desparacitacion.dosis }}</td>
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row">Observaciones</th>
                            <td>
                                <input type="text" id="observaciones" size=60 name="observaciones"
                                    value="{{ atencion.observacion }}" required><br>
                                <input type="hidden" id="atencion_id" name="atencion_id" value="{{ atencion.id }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" type="submit"
                    style="background-color: rgb(96, 219, 87); color: rgb(255, 255, 255);">Guardar cambios</button>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("modificar_datos").addEventListener("click", function () {
            var modificar = document.getElementById("formulario_modificar_datos");
            var datos = document.getElementById("mis_datos");
            if (modificar.style.display === "none") {
                datos.style.display = "none";
                modificar.style.display = "block";
            } else {
                modificar.style.display = "none";
                datos.style.display = "block";
            }
        });
    </script>
</div>
{%endblock%}