{% extends 'layout.html' %} {% block title %}OhMyDog - Home{% endblock %}
{% block content %}

<div class="container" style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	">
	<div class="jumbotron" style="
			float: none;
			display: block;
			background-color: rgb(255, 255, 255);
		">
		<img src="http://imgfz.com/i/RWx6eN8.png" height="544" width="1980" style="
				width: 1420px;
				height: 544px;
				background-color: rgb(255, 255, 255);
				margin-top: 0px;
				text-decoration-color: rgb(35, 36, 36);
			" />

		<p></p>
	</div>


</div>
{% endblock %}