{% extends 'layout.html' %} {% block title %}OhMyDog - Home{% endblock %} 
{% block content %}

<div
	class="container"
	style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	"
>
	<div
		class="jumbotron"
		style="
			float: none;
			display: block;
			background-color: rgb(255, 255, 255);
		"
	>
		<img
			src="http://imgfz.com/i/RWx6eN8.png"
			height="544"
			width="1980"
			style="
				width: 1420px;
				height: 544px;
				background-color: rgb(255, 255, 255);
				margin-top: 0px;
				text-decoration-color: rgb(35, 36, 36);
			"
		/>

		<p></p>
	</div>

	<div class="row marketing">
		<div class="col-lg-6">
			<h4>
				<button
					type="button"
					class="btn btn-primary disabled"
					style="background-color: rgb(255, 189, 89)"
					href="adopciones"
				>
					Adopciones</button
				><img
					src="https://bootsnipp.com/bootstrap-builder/libs/builder/icons/image.svg"
					height="128"
					width="128"
					style="width: 50px; height: 50px"
				/>
			</h4>
			<p>
				Descubre a los paseadores de perros cerca de ti y conecta con
				ellos en un instante: encuentra la persona perfecta para pasear
				a tu mejor amigo.
			</p>

			<h4>
				<button
					type="button"
					class="btn btn-primary disabled"
					style="background-color: rgb(255, 189, 89)"
					href="cuidadores"
				>
					Busquedas</button
				><img
					src="https://bootsnipp.com/bootstrap-builder/libs/builder/icons/image.svg"
					height="128"
					width="128"
					style="width: 50px; height: 50px"
				/>
			</h4>
			<p>
        ¡Encuentra esperanza en cada rincón! Descubre nuestra lista
				de búsquedas de perros perdidos y únete a la misión de
				reunir a estas adorables mascotas con sus amados
				dueños.
			</p>

			<h4>
				<button
					type="button"
					class="btn btn-primary disabled"
					style="background-color: rgb(255, 189, 89)"
					href="cruzas"
				>
					Perdidos</button
				><img
					src="https://bootsnipp.com/bootstrap-builder/libs/builder/icons/image.svg"
					height="128"
					width="128"
					style="width: 50px; height: 50px"
				/>
			</h4>
			<p>
				¡Descubre perros perdidos y ayúdalos a encontrar su hogar!
				Explora nuestra lista de publicaciones y sé parte de la
				búsqueda de sus dueños.
			</p>
		</div>

		<div class="col-lg-6">
			<h4>
				<button
					type="button"
					class="btn btn-primary disabled"
					style="background-color: rgb(255, 189, 89)"
					href="paseadores"
				>
					Paseadores</button
				><img
					src="https://bootsnipp.com/bootstrap-builder/libs/builder/icons/image.svg"
					height="128"
					width="128"
					style="width: 50px; height: 50px"
				/>
			</h4>
			<p>
				Descubre a los paseadores de perros cerca de ti y conecta con
				ellos en un instante: encuentra la persona perfecta para pasear
				a tu mejor amigo.
			</p>

			<h4>
				<button
					type="button"
					class="btn btn-primary disabled"
					style="background-color: rgb(255, 189, 89)"
					href="cuidadores"
				>
					Cuidadores</button
				><img
					src="https://bootsnipp.com/bootstrap-builder/libs/builder/icons/image.svg"
					height="128"
					width="128"
					style="width: 50px; height: 50px"
				/>
			</h4>
			<p>
				¡Conéctate con los mejores cuidadores y garantiza la
				felicidad y el bienestar de tu amigo peludo!
			</p>

			<h4>
				<button
					type="button"
					class="btn btn-primary disabled"
					style="background-color: rgb(255, 189, 89)"
					href="cruzas"
				>
					Cruzas</button
				><img
					src="https://bootsnipp.com/bootstrap-builder/libs/builder/icons/image.svg"
					height="128"
					width="128"
					style="width: 50px; height: 50px"
				/>
			</h4>
			<p>
				Explora nuestra lista de candidatos perfectos para cruzar y
				encuentra la pareja perfecta para tu perro.
			</p>
		</div>
	</div>
</div>
{% endblock %}
