{% extends 'layout.html' %}

{% block title %}OhMyDog - Perros del cliente {{cliente.id}}{%endblock %}

{% block content %}

<head>
	<style>
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 50vh;
		}

		.card {
			width: 400px;
			text-align: center;
		}
	</style>
</head>

<div class="container">
	<div class="card">
		<table style="
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 600px;
			">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
			</tr>
			{%if perros%} {% for perro in perros %}
			<tr>
				<td>{{ perro.id }}</td>
				<td>{{ perro.nombre }}</td>
				<td>

					<div class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
							data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
								float: left;
								background-color: rgb(157, 209, 59);
							">Acciones</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{% url 'datos_de_un_perro' perro.id %}">
									Mostrar datos
								</a>
								{% if user.is_staff %}
								<form method="GET" action="{% url 'agregar_atencion_clinica' %}">
									{% csrf_token %}
									<input type="hidden" id="perro" name="perro" value="{{ perro.id }}">
									<button type="submit" class="dropdown-item">
										Registrar Atencion Clinica
									</button>
								</form>
								<form method="GET" action="{% url 'agregar_consulta' %}">
									{% csrf_token %}
									<input type="hidden" id="perro" name="perro" value="{{ perro.id }}">
									<button type="submit" class="dropdown-item">
										Registrar Consulta
									</button>
								</form>
								<a class="dropdown-item" href="{% url 'datos_de_un_perro' perro.id %}">
									Cargar Vacunacion
								</a>
								<form method="GET" action="{% url 'agregar_desparacitacion' %}">
									{% csrf_token %}
									<input type="hidden" id="perro" name="perro" value="{{ perro.id }}">
									<button type="submit" class="dropdown-item">
										Registrar Desparacitacion
									</button>
								</form>
								{%if castracion%}
								<a class="dropdown-item" href="{% url 'datos_de_un_perro' perro.id %}">
									Mostrar datos
								</a>
								{%endif%}
								{%endif%}
							</li>
							<li>
								<a class="dropdown-item eliminar-perro" data-bs-toggle="modal"
									data-bs-target="#confirmModal" href="{% url 'borrar_perro' perro.id %}">
									Eliminar perro
								</a>
							</li>
						</ul>
					</div>
					<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
						aria-hidden="true">
						<div class="modal-header">
							<h5 class="modal-title" id="confirmModalLabel">Eliminar perro</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>¿Está seguro que quiere borrar el perro?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<a href="{% url 'borrar_perro' perro.id %}" class="btn btn-danger">Aceptar</a>
						</div>
					</div>
	</div>
</div>
</td>
</tr>
{% endfor %} {%else%}
<p>No hay perros registrados</p>
{%endif%}
</table>
</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const eliminarPerroLinks = document.querySelectorAll(".eliminar-perro");
		const aceptarEliminarPerroButton = document.querySelector("#aceptarEliminarPerro");

		eliminarPerroLinks.forEach(function (link) {
			link.addEventListener("click", function (event) {
				event.preventDefault();
				const eliminarClienteUrl = link.href;
				aceptarEliminarPerroButton.addEventListener("click", function () {
					window.location.href = eliminarClienteUrl;
				});
			});
		});
	});
</script>
{% endblock %}