{% extends 'layout.html' %} {% block title %}OhMyDog - Atenciones{% endblock %}
{% block content %}

<div class="container containerPrincipal">
    <p>

    </p>
    <form method="get" action="{% url 'listado_de_atenciones_cliente' %}">
        <div id="filtros" class="container bootstrap snippets bootdey">
            <input type="hidden" id="perro" name="perro" value="{{ perro.id }}">
            <div class="row mb-3">
                <div class="col">
                    <label for="Tipo de Atencion" class="form-label">Tipo de Atencion</label>
                    <select class="form-select" id="atencion_filtro" name="atencion_filtro">
                        <option value="">- - -
                        </option>
                        {% for atencion in tipo_atencion %}
                            <option value="{{ atencion.id }}" >
                                {{ atencion.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="Fecha de Atencion" class="form-label">Fecha de Atencion</label>
                    <input type="date" class="form-select" id="fecha_filtro" name="fecha_filtro">
                </div>
                </div>
                     <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
    <div class="card">
        <h1>Atenciones</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Atencion</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% if atenciones%}
                {% for atencion in atenciones %}
                <tr>
                    <td>{{ atencion.id }}</td>
                    <td>{{ atencion.fecha }}</td>
                    <td>{{ atencion.tipo_atencion.nombre }}</td>
                    <td>
                        <form method="POST" action="{{ atencion.url_mostrar_datos }}">
                            {% csrf_token %}
                            <input type="hidden" id="atencion_id" name="atencion_id" value="{{ atencion.id }}">
                            <button type="submit" class="btn btn-secondary" style="background-color: rgb(157, 209, 59)"
                                data-bs-toggle="modal">
                                Mostrar
                                detalle
                            </button>
                        </form>
                    </td>
                <tr>
                    {%endfor%}
                    {% else %}
                    <td colspan="4">
                        <p>No se encontraron atenciones para el perro</p>
                    </td>
                </tr>
                {%endif%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}