{% extends 'layout.html' %} 

{% block title %}OhMyDog - Publicaciones de adopciones{%endblock %} 

{% block content %}

<style>
    .vertical-line {
        border-right: 1px solid #dee2e6;
        height: 100%;
    }

    /* Estilos para el cuadro emergente */
    #popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border: 2px solid blue; /* Cambiar el color y el ancho del borde */
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      text-align: center; /* Centrar los campos y botones */
    }

    #popup input, #popup button {
      margin: 10px 0; /* Agregar un espacio entre los campos y los botones */
      padding: 5px 10px; /* Ajustar el espacio interno */
      border-radius: 4px;
    }
</style>


<h1 style="text-align:center">Publicaciones de adopciones</h1>
<form method="get" action="{% url 'filtrar_listado_adopciones' %}">
    {% csrf_token %}
<div id="filtros" class="container bootstrap snippets bootdey">

    <div class="row mb-3">
        <div class="col">
            <label for="seleccionSexo">Sexo:</label>
            <select class="form-select" id="seleccionSexo" name="seleccionSexo">
                <option value="">Todos</option>
                <option value="H" {% if "H" == seleccion_sexo %}selected{% endif %}>Hembra</option>
                <option value="M" {% if "M" == seleccion_sexo %}selected{% endif %}>Macho</option>
            </select>
        </div>
        <div class="col">
            <label for="seleccionTamanio">Tamaño:</label>
            <select class="form-select" id="seleccionTamanio" name="seleccionTamanio">
                <option value="">Todos</option>
                <option value="Mini"    {% if "Mini" == seleccion_tamanio %}selected{% endif %}>Mini</option>
                <option value="Pequeño" {% if "Pequeño" == seleccion_tamanio %}selected{% endif %}>Pequeño</option>
                <option value="Mediano" {% if "Mediano" == seleccion_tamanio %}selected{% endif %}>Mediano</option>
                <option value="Grande"  {% if "Grande" == seleccion_tamanio %}selected{% endif %}>Grande</option>
                <option value="Gigante" {% if "Gigante" == seleccion_tamanio %}selected{% endif %}>Gigante</option>
            </select>
        </div>
        <div class="col">
            <label for="seleccionEtapaVida">Etapa de vida:</label>
            <select class="form-select" id="seleccionEtapaVida" name="seleccionEtapaVida">
                <option value="">Todos</option>
                <option value="Cachorro" {% if "Cachorro" == seleccion_etapa_vida %}selected{% endif %}>Cachorro</option>
                <option value="Adulto"   {% if "Adulto" == seleccion_etapa_vida %}selected{% endif %}>Adulto</option>
                <option value="Anciano"  {% if "Anciano" == seleccion_etapa_vida %}selected{% endif %}>Anciano</option>
            </select>
        </div>
        <div class="col">
            <label for="seleccionCastrado">Castrado:</label>
            <select class="form-select" id="seleccionCastrado" name="seleccionCastrado">
                <option value="">Todos</option>
                <option value="S" {% if "S" == seleccion_castrado %}selected{% endif %}>Si</option>
                <option value="N" {% if "N" == seleccion_castrado %}selected{% endif %}>No</option>
            </select>
        </div>
    </div>
        <div style="text-align: center; margin-top:5px ;">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>
  
</div>
</form>
<div class="container bootstrap snippets bootdey">
    {% if adopciones%}
        {% for adopcion in adopciones%}
            {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
            {% endif %}
            <div class="col-sm-6" id="adopcionesContainer">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="card-title text-center">{{ adopcion.nombre }}</h1>
                        <div class="row">
                            <div class="col-auto vertical-line">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th>Descripción</th>
                                        </tr>
                                        <tr>
                                            <th>Etapa de vida</th>
                                        </tr>
                                        <tr>
                                            <th>Tamaño</th>
                                        </tr>
                                        <tr>
                                            <th>Sexo</th>
                                        </tr>
                                        <tr>
                                            <th>Castrado</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>{{ adopcion.descripcion }}</td>
                                        </tr>
                                        <tr>
                                            <td class="etapa-vida">{{ adopcion.etapa_vida_perro.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <td class="tamanio">{{ adopcion.tamanio_perro.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <td class="sexo">{{ adopcion.sexo }}</td>
                                        </tr>
                                        <tr>
                                            <td class="castrado">{{ adopcion.castrado }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <p class="card-text"><small class="text-muted">Autor: {{ adopcion.cliente.nombre }}</small></p>
                        </div>
                        {%if not adopcion.adoptado%}
                        <div class="col text-end">
                            <a type="button" class="btn btn-warning" id="me_interesa" 
                                onclick="mostrarPopupContacto(event, '{{ adopcion.nombre }}', '{{adopcion.cliente.email}}');"
                                href="{% url 'marcar_como_me_interesa' %}">Me interesa
                            </a>
                        </div>
                        {%else%}
                            <div class="col text-end">
                                <p class="text-success">ADOPTADO</p>
                            </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p id="mensajeNoAdopciones" style="text-align: center">No se encontraron adopciones</p>
    {% endif %}
    <p id="mensajeNoAdopciones" style="display: none; text-align: center">
        No se encontraron adopciones con esas caracteristicas.
    </p>
</div>

{% endblock %}