{% extends 'layout.html' %} 

{% block title %}OhMyDog - Publicaciones de adopciones{%endblock %} 

{% block content %}

<style>
    .vertical-line {
        border-right: 1px solid #dee2e6;
        height: 100%;
    }

    /* Estilos para el cuadro emergente */
    #popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border: 2px solid blue; /* Cambiar el color y el ancho del borde */
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      text-align: center; /* Centrar los campos y botones */
    }

    #popup input, #popup button {
      margin: 10px 0; /* Agregar un espacio entre los campos y los botones */
      padding: 5px 10px; /* Ajustar el espacio interno */
      border-radius: 4px;
    }
</style>
<script>
    function mostrarPopupContacto(event, nombrePerro, emailAutor) {
        event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

        var popup = document.createElement("div");
        popup.id = "popup";

        var formulario = document.createElement("form");
        formulario.action = event.target.href;
        formulario.method = "POST";

        var campoEmail = document.createElement("input");
        campoEmail.type = "email";
        campoEmail.name = "email";
        campoEmail.placeholder = "Email";
        campoEmail.required = true;

        var campoTelefono = document.createElement("input");
        campoTelefono.type = "tel";
        campoTelefono.name = "telefono";
        campoTelefono.placeholder = "Teléfono";
        campoTelefono.required = true;

        var campoNombre = document.createElement("input");
        campoNombre.type = "text";
        campoNombre.name = "nombre";
        campoNombre.placeholder = "Nombre";
        campoNombre.required = true;

        var botonEnviar = document.createElement("button");
        botonEnviar.type = "submit";
        botonEnviar.textContent = "Enviar";

        var botonCancelar = document.createElement("button");
        botonCancelar.type = "button";
        botonCancelar.textContent = "Cancelar";
        botonCancelar.addEventListener("click", function() {
          document.body.removeChild(popup); // Eliminar el cuadro emergente
        });

        // Crear campo oculto para enviar el valor del nombrePerro
        var campoAdopcionNombre = document.createElement("input");
        campoAdopcionNombre.type = "hidden";
        campoAdopcionNombre.name = "nombre_perro";
        campoAdopcionNombre.value = nombrePerro;

        // Crear campo oculto para enviar el valor de emailAutor
        var campoEmailAutor = document.createElement("input");
        campoEmailAutor.type = "hidden";
        campoEmailAutor.name = "email_autor";
        campoEmailAutor.value = emailAutor;

         // Agregar el token CSRF al formulario
        var tokenCSRF = document.createElement("input");
        tokenCSRF.type = "hidden";
        tokenCSRF.name = "csrfmiddlewaretoken";
        tokenCSRF.value = "{{ csrf_token }}"; // Agrega el valor del token CSRF

        formulario.appendChild(campoEmail);
        formulario.appendChild(campoTelefono);
        formulario.appendChild(campoNombre);
        formulario.appendChild(botonEnviar);
        formulario.appendChild(tokenCSRF); // Agregar el token CSRF al formulario
        formulario.appendChild(campoAdopcionNombre);
        formulario.appendChild(campoEmailAutor);
        formulario.appendChild(botonCancelar);

        popup.appendChild(formulario);

        document.body.appendChild(popup);
    }
  </script>

<h1 style="text-align:center">Publicaciones de adopciones</h1>
<div class="container bootstrap snippets bootdey">
    {% if adopciones %} 
        {% for adopcion in adopciones %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h1 class="card-title text-center">{{ adopcion.nombre }}</h1>
                    <div class="row">
                        <div class="col-auto vertical-line">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Descripción</th>
                                    </tr>
                                    <tr>
                                        <th>Etapa de vida</th>
                                    </tr>
                                    <tr>
                                        <th>Tamaño</th>
                                    </tr>
                                    <tr>
                                        <th>Sexo</th>
                                    </tr>
                                    <tr>
                                        <th>Castrado</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>{{ adopcion.descripcion }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ adopcion.etapa_vida_perro.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ adopcion.tamanio_perro.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ adopcion.sexo }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ adopcion.castrado }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <p class="card-text"><small class="text-muted">Autor: {{ adopcion.cliente.nombre }}</small></p>
                    </div>
                    {%if not adopcion.adoptado%}
                    <div class="col text-end">
                        <a type="button" class="btn btn-warning" id="me_interesa" 
                            onclick="mostrarPopupContacto(event, '{{ adopcion.nombre }}', '{{adopcion.cliente.email}}');"
                            href="{% url 'marcar_como_me_interesa' %}">Me interesa
                        </a>
                    </div>
                    {%else%}
                        <div class="col text-end">
                            <p class="text-success">ADOPTADO</p>
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
        <p>No se encontraron adopciones</p>
    {% endif %}
</div>



{% endblock %}