{% extends 'layout.html' %} 

{% block title %}OhMyDog - Publicaciones de donaciones{%endblock %} 

{% block content %}
<style>
    .vertical-line {
        border-right: 1px solid #dee2e6;
        height: 100%;
    }

    /* Estilos para el cuadro emergente de confirmar adopcion */
    #popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 2px solid blue; /* Cambiar el color y el ancho del borde */
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        text-align: center; /* Centrar los botones */
      }
  
      #popup button {
        margin: 10px; /* Agregar un espacio entre los botones */
        padding: 5px 10px; /* Ajustar el espacio interno de los botones */
        border-radius: 4px;
        cursor: pointer;
      }
</style>
<script>
    function confirmarFinalizacion(event) {
      event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

      // Crear el cuadro emergente de confirmación
      var popup = document.createElement("div");
      popup.id = "popup";

      // Crear el mensaje de confirmación
      var mensaje = document.createElement("p");
      mensaje.textContent = "¿Estás seguro de que deseas finalizar la campaña?";

      // Crear los botones de confirmación
      var botonAceptar = document.createElement("button");
      botonAceptar.textContent = "Finalizar";
      botonAceptar.addEventListener("click", function() {
        // Si el usuario hace clic en "Marcar", redireccionar a la URL del enlace
        window.location.href = event.target.href;
        document.body.removeChild(popup); // Eliminar el cuadro emergente
      });

      var botonCancelar = document.createElement("button");
      botonCancelar.textContent = "Cancelar";
      botonCancelar.addEventListener("click", function() {
        // Si el usuario hace clic en "Cancelar", no hacer nada
        document.body.removeChild(popup); // Eliminar el cuadro emergente
      });

      // Agregar el mensaje y los botones al cuadro emergente
      popup.appendChild(mensaje);
      popup.appendChild(botonAceptar);
      popup.appendChild(botonCancelar);

      // Agregar el cuadro emergente al cuerpo del documento
      document.body.appendChild(popup);
    }
</script>

<div class="container bootstrap snippets bootdey">
    {% if campanias%}
        {% for campania in campanias%}
            {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
            {% endif %}
            <div class="col-sm-6" id="adopcionesContainer">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="card-title text-center">{{ campania.nombre }}</h1>
                        <div class="row">
                            <div class="col-auto vertical-line">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th>Objetivo</th>
                                        </tr>
                                        <tr>
                                            <th>Fecha de inicio</th>
                                        </tr>
                                        <tr>
                                            <th>Fecha de fin</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>{{ campania.objetivo }}</td>
                                        </tr>
                                        <tr>
                                            <td class="etapa-vida">{{ campania.fecha_inicio }}</td>
                                        </tr>
                                        <tr>
                                            <td class="tamanio">{{ campania.fecha_fin }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                    <div class="row">
                        {% if campania.activa %}
                        {% if campania.fecha_fin %}                
                        <div class="col text-end">
                            <form action="{% url 'marcar_como_me_interesa' %}" method="POST">
                                {% csrf_token %}
                                <button  type="submit" class="btn btn-warning">Donar</button>
                            </form>                                  
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-warning d-inline-block" id="ver_progreso" 
                                data-bs-toggle="modal"data-bs-target="#detalleModal" 
                                data-nombre="{{ campania.nombre }}"
                                data-recaudado="{{ campania.monto_recaudado }}"
                                data-objetivo="{{ campania.monto_objetivo}}"
                                data-cantidad="{{ campania.cantidad_donaciones }}"
                                data-progreso="{{ campania.progreso }}">Progreso
                        </button>
                        </div>
                         {% if user.is_staff %}
                        <div class="col text-end">
                            <button  type="submit" class="btn btn-warning" id="modificar"
                                data-bs-toggle="modal" data-bs-target="#modificarModal" 
                                data-id = "{{ campania.id }}"
                                data-nombre = "{{ campania.nombre }}"
                                data-fecha_inicio="{{ campania.fecha_inicio }}"
                                data-fecha_fin="{{ campania.fecha_fin }}"
                            >Modificar</button> 

                        </div>            
                        <div class="col text-end">
                                <a  type="submit" class="btn btn-danger"
                                href="{% url 'terminar_campania_donacion' campania.id %}"
                                onclick="confirmarFinalizacion(event);">Finalizar</a> 
                        </div>
                        {% endif %}  
                        {%else%}
                            <div class="col text-end">
                                <p class="text-success" style="font-weight:bold">Finalizada</p>
                            </div>
                        {%endif%}     
                        {%else%}
                            <div class="col text-end">
                                <p class="text-success" style="font-weight:bold">Finalizada</p>
                            </div> 
                        {%endif%}                          
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p id="mensajeNoAdopciones" style="text-align: center">No se encontraron campañas de donaciones</p>
    {% endif %}
</div>


<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="detalleModalLabel">Progreso de la campaña</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
                <div class="row">
                    <div class="col-auto vertical-line">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>Campaña</th>
                            </tr>
                            <tr>
                                <th>Monto recaudado</th>
                            </tr>
                            <tr>
                                <th>Monto objetivo</th>
                            </tr>
                            <tr>
                                <th>Cantidad de donaciones</th>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td id="nombre_campania">Campaña</td>
                            </tr>
                            <tr>
                                <td id="monto_recaudado">Monto recaudado</td>
                            </tr>
                            <tr>
                                <td id="monto_objetivo">Monto objetivo</td>
                            </tr>
                            <tr>
                                <td id="cantidad_donaciones">Cantidad de donaciones</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" 
                    id="progreso" aria-valuenow="50" aria-valuemin="0" 
                    aria-valuemax="100">0%</div>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="modificarModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modificarModalLabel">Modificar campaña</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">  
                <form method="post" action="{% url 'modificar_fecha_fin_campania' %}">
                {% csrf_token %}  
                 
                <div class="row">
                    <div class="col-auto vertical-line">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>Campaña</th>
                            </tr>
                            <tr>
                                <th>Fecha de inicio</th>
                            </tr>
                            <tr>
                                <th>Fecha de fin</th>
                            </tr>
                            <tr>
                                <th>Nueva fecha de fin</th>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td id="nombre">Campaña</td>
                            </tr>
                            <tr>
                                <td id="fecha_inicio">Fecha de inicio</td>
                            </tr>
                            <tr>
                                <td id="fecha_fin">Fecha de fin</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="date" class="form-control" id="nueva_fecha_fin" name="nueva_fecha_fin"  
                                        required />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>                      
                    <div>
                        <input type="hidden" name="campania_id" id="campaniaId"> 
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>        
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>
<script>
	var detalleModal = document.getElementById('detalleModal');
	detalleModal.addEventListener('show.bs.modal', function (event) {
		var button = event.relatedTarget;

		var label_nombre_campania = document.getElementById('nombre_campania');
        var label_monto_recaudado = document.getElementById('monto_recaudado');
        var label_monto_objetivo = document.getElementById('monto_objetivo');
        var label_cantidad_donaciones = document.getElementById('cantidad_donaciones');
        var progress_bar= document.getElementById('progreso');
        label_nombre_campania.textContent = button.getAttribute('data-nombre');
        label_monto_recaudado.textContent = button.getAttribute('data-recaudado');
        label_monto_objetivo.textContent = button.getAttribute('data-objetivo');
        label_cantidad_donaciones.textContent = button.getAttribute('data-cantidad');
        var progreso = parseFloat(button.getAttribute('data-progreso'));
        progress_bar.setAttribute('aria-valuenow', progreso); 
        progress_bar.style.width = progreso + '%';
        progress_bar.textContent = progreso + '%';
	});

     var modificarModal = document.getElementById('modificarModal');
     modificarModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var label_nombre_campania = document.getElementById('nombre');
        var label_fecha_inicio = document.getElementById('fecha_inicio');
        var label_fecha_fin = document.getElementById('fecha_fin');
        label_nombre_campania.textContent = button.getAttribute('data-nombre');
        label_fecha_inicio.textContent = button.getAttribute('data-fecha_inicio');
        label_fecha_fin.textContent = button.getAttribute("data-fecha_fin");
        var campaniaId = button.getAttribute('data-id');
        var campaniaIdInput = document.getElementById('campaniaId');
        campaniaIdInput.value = campaniaId;

    });
</script>

{% endblock %} 