{% extends 'layout.html' %} {% block title %}OhMyDog - Clientes{% endblock %} 
{% block content %}

<div
	class="container"
	style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	"
>
	<form method="GET" action="{% url 'buscar_clientes' %}">
		<input
			type="text"
			name="email"
			placeholder="Buscar por email"
		/>
		<button class="btn btn-primary" type="submit">Buscar</button>
	</form>

	<p></p>

	<div class="card" style="justify-content: center; align-items: center">
		<table
			style="
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 600px;
			"
		>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
			{%if clientes%} {% for cliente in clientes %}
			<tr>
				<td>{{ cliente.id }}</td>
				<td>{{ cliente.nombre }}</td>
				<td>{{ cliente.email }}</td>
				<td>
					<div class="dropdown">
						<a
							class="btn btn-secondary dropdown-toggle"
							href="#"
							role="button"
							id="dropdownMenuLink"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							style="
								float: left;
								background-color: rgb(157, 209, 59);
							"
							>Acciones</a
						>
						
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{% url 'datos_de_un_cliente' cliente.id %}">
									Mostrar datos
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url 'listado_de_perros_cliente' cliente.id %}">
									Listado de perros
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url 'agregar_perro' cliente.id %}">
									Agregar perro
								</a>
							</li>
						</ul>
						
					</div>
				</td>
			</tr>
			{% endfor %} {%else%}
			<p>No se encontraron clientes</p>
			{%endif%}
		</table>
	</div>
</div>
{%endblock%}
