{% extends 'layout.html' %} {% block title %}OhMyDog - Clientes{% endblock %} 
{% block content %}

<div
	class="container containerPrincipal"
>
	<form method="GET" action="{% url 'clientes' %}">
		<input
			type="text"
			name="email"
			placeholder="Buscar por email"
		/>
		<button class="btn btn-primary" type="submit">Buscar</button>
	</form>

	<p>

	</p> 
	
	<div class="card">
		<h1>Clientes</h1>
		<table class="table table-hover">
			<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nombre</th>
				<th scope="col">Email</th>
				<th scope="col">Teléfono</th>
				<th scope="col">Acciones</th>
			</tr>
			</thead>
			<tbody>
				{% if clientes %} 
				{% for cliente in clientes %}
				<tr>
					<td>{{ cliente.id }}</td>
					<td>{{ cliente.nombre }}</td>
					<td>{{ cliente.email }}</td>
					<td>{{ cliente.telefono }}</td>
					<td>
						{% if cliente.habilitado %}
						<div class="dropdown">
							<a
								class="btn btn-secondary dropdown-toggle"
								href="#"
								role="button"
								id="dropdownMenuLink"
								data-bs-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
								style="
									background-color: rgb(157, 209, 59);
								"
								>Acciones</a
							>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="{% url 'datos_de_un_cliente' cliente.id %}">
										Mostrar datos
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'listar_perros_cliente' cliente.id %}">
										Listado de perros
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{% url 'registrar_perro' cliente.id %}">
										Agregar perro
									</a>
								</li>
								<li>
									<a
										class="dropdown-item eliminar-cliente" 
										data-bs-toggle="modal" 
										data-bs-target="#confirmModal"
										href="{% url 'borrar_cliente' cliente.id %}"
									>
										Eliminar cliente
									</a>
								</li>
							</ul>
						</div>
						{% else %}
						<a style="color:red; font-weight:bold">Deshabilitado</a>
						{% endif %}
						<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title" id="confirmModalLabel">Eliminar cliente</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
								<p>¿Está seguro que quiere borrar el cliente?</p>
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
								<a  id="aceptarEliminarCliente" class="btn btn-danger">Aceptar</a>
								</div>
							</div>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td colspan="5">
						<p>No se encontraron clientes</p>
					</td>
				</tr>
				{%endif%}
			</tbody>
		</table>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const eliminarClienteLinks = document.querySelectorAll(".eliminar-cliente");
		const aceptarEliminarClienteButton = document.querySelector("#aceptarEliminarCliente");

		eliminarClienteLinks.forEach(function (link) {
			link.addEventListener("click", function (event) {
				event.preventDefault();
				const eliminarClienteUrl = link.href;
				aceptarEliminarClienteButton.addEventListener("click", function () {
					window.location.href = eliminarClienteUrl;
				});
			});
		});
	});
</script>
{%endblock%}
