{% extends 'layout.html' %}

{% block content %}

<head>
	<style>
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 50vh;
		}
		.card {
			width: 400px;
			text-align: center;
		}
	</style>
</head>

<div class="container">
	<div class="card">
		<h1>Mis Perros</h1>
		<table style="text-align: center; width: 600px; margin-top: 20px;">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
			</tr>
			{% if perros %}
			{% for perro in perros %}
			<tr>
				<td>{{ perro.id }}</td>
				<td>{{ perro.nombre }}</td>
				<td>
					<div class="dropdown">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
							data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							style="float: left; background-color: rgb(157, 209, 59);">Acciones</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form method="post" action="{% url 'datos_de_mi_perro' perro.id %}">
								{% csrf_token %}
								<button type="submit">Mostrar Datos</button>
							</form>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td colspan="3"><p>No hay perros registrados</p></td>
			</tr>
			{% endif %}
		</table>
	</div>
</div>
{%endblock%}