{% extends 'layout.html' %} {% block title %}OhMyDog - Mis turnos{% endblock %}
{% block content %}
<div class="container containerPrincipal">
	<p>

	</p>

	<div class="card">
		<h1 style="float: none; text-align: center;">
			Mis turnos
		</h1>
			<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Fecha</th>
					<th scope="col">Perro </th>
					<th scope="col">Franja Horaria</th>
					<th scope="col">Atención</th>
					<th scope="col">Estado</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{%if turnos %} 
				{% for turno in turnos %}
				<tr>
					<td>{{ turno.id }}</td>
					<td>{{ turno.fecha_del_turno }}</td>
					<td>{{ turno.perro.nombre }}</td>
					<td>{{ turno.franja_horaria.nombre }}</td>
					<td>{{ turno.tipo_atencion.nombre }}</td>
					<td>{{ turno.estado.nombre }}</td>
					{% if turno.observaciones is null %} 
						<td>
						</td>
					{% else %}
						<td>
							<button type="button" class="btn btn-secondary rechazar-turno"
								style="background-color: rgb(157, 209, 59)" ">Ver Observacion
							</button>
						</td>
					{% endif %}
				</tr>
				{% endfor %} 
				{%else%}
				<tr>
					<td colspan="7">
						<p>No hay turnos registrados</p>
					</td>
				</tr>	
				{%endif%}
			</tbody>
			</table>
	</div>
</div>

{% endblock %}