{% extends 'layout.html' %} {% block title %}OhMyDog - Mis turnos{% endblock %}
{% block content %}
<style>
	.popup {
		position: relative;
		display: inline-block;
	  }  
	  .popup .popuptext {
		visibility: hidden;
		width: 200px;
		background-color: #4B5563;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 8px;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: opacity 0.3s;
		font-weight: bold;
	  } 
	  .popup:hover .popuptext {
		visibility: visible;
		opacity: 1;
	  }
</style>
<div class="container containerPrincipal">
	<p>

	</p>

	<div class="card">
		<h1 style="float: none; text-align: center;">
			Mis turnos
		</h1>
			<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Fecha</th>
					<th scope="col">Perro </th>
					<th scope="col">Franja Horaria</th>
					<th scope="col">Atención</th>
					<th scope="col">Estado</th>
					<th scope="col">Observaciones</th>
				</tr>
			</thead>
			<tbody>
				{% if turnos %} 
				{% for turno in turnos %}
				<tr>
					<td>{{ turno.id }}</td>
					<td>{{ turno.fecha_del_turno }}</td>
					<td>{{ turno.perro.nombre }}</td>
					<td>{{ turno.franja_horaria.nombre }}</td>
					<td>{{ turno.tipo_atencion.nombre }}</td>
					<td>{{ turno.estado.nombre }}</td>
					<td>
						<div class="popup">
						  <button type="button" class="btn btn-secondary rechazar-turno"
							style="background-color: rgb(157, 209, 59)">Ver observaciones
						  </button>
						  <span class="popuptext">{{turno.observaciones}}</span>
						</div>
					  </td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td colspan="7">
						<p>No hay turnos registrados</p>
					</td>
				</tr>	
				{% endif %}
			</tbody>
			</table>
	</div>
</div>

{% endblock %}