{% extends 'layout.html' %}

{% block content %}
<div class="card" style="justify-content: center; align-items: center;">
	<body>
		<table  style="justify-content: center; align-items: center; text-align: center; width: 600px">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
			</tr>
			{%if perros%}
			{% for perro in perros %}
					<tr>
						<td>{{ perro.id }}</td>
						<td>{{ perro.nombre }}</td>
						<td>
							<div class="dropdown">
							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: left; 
								background-color: rgb(157, 209, 59);";>Acciones</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<form
								method="post"
								action="{% url 'datos_de_mi_perro' perro.id%}"
								>
								{% csrf_token %}
								<button type="submit">Mostrar Datos</button>
							</form>
							</div>
						</td>
					</tr>
			{% endfor %}

			{%else%}
				<p>No hay perros registrados</p>
			{%endif%}
		</table>
	</body>
</div>
{%endblock%}