{% extends 'layout.html' %}

{% block content %}

<head>
	<style>
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 50vh;
		}

		.card {
			width: 850px;
			text-align: center;
		}
	</style>
</head>

<div class="container">
	<div class="card">
		<h1>Mis Perros</h1>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Raza</th>
				<th>Peso</th>
				<th>Sexo</th>
				<th></th>
			</tr>
			{% if perros %}
			{% for perro in perros %}
			<tr>
				<td>{{ perro.id }}</td>
				<td>{{ perro.nombre }}</td>
				<td>{{ perro.raza }}</td>
				<td>{{ perro.peso }}</td>
				<td>{{ perro.sexo }}</td>
				<td>
					<div>
						<form method="post" action="{% url 'datos_de_mi_perro' perro.id %}">
							{% csrf_token %}
							<button type="submit"
								style="align-content: right; float: rigth; background-color: rgb(157, 209, 59)">Mostrar
								Datos</button>
						</form>
					</div>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td colspan="3">
					<p>No hay perros registrados</p>
				</td>
			</tr>
			{% endif %}
		</table>
	</div>
</div>
{%endblock%}