{% extends 'layout.html' %}

{% block title %}OhMyDog - Solicitudes de turnos{% endblock %}

{% block content %}

<div class="container" style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	">
	<div class="card" style="justify-content: center; align-items: center">

		<table style="
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 600px;
			">
			<tr>
				<th>ID</th>
				<th>Fecha</th>
				<th>Cliente</th>
			</tr>
			{%if solicitudes_de_turnos%}
			{% for turno in solicitudes_de_turnos %}
			<tr>
				<td>{{ turno.id }}</td>
				<td>{{ turno.fecha_del_turno }}</td>
				<td>{{ turno.cliente.nombre }}</td>
				<td>
						<input type="hidden" name="turno_id" value="{{ turno.id }}">
						<input type="hidden" name="next" value="{{ request.path }}">
						<a class="btn btn-secondary confirmar-turno" 
						style="
							text-align: left;
							float: right;
							background-color: rgb(157, 209, 59);
							color: rgb(255, 255, 255);
							text-decoration-color: rgb(157, 209, 59);" 
							data-bs-toggle="modal" 
							data-bs-target="#confirmModal"
							href="{% url 'confirmar_turno' %}">
							Confirmar Turno
						</a>
				</td>
				<td>
					<input type="hidden" name="turno_id" value="{{ turno.id }}">
					<input type="hidden" name="next" value="{{ request.path }}">
					<a class="btn btn-secondary rechazar-turno" style="
						text-align: left;
						float: right;
						background-color: rgb(157, 209, 59);
						color: rgb(255, 255, 255);
						text-decoration-color: rgb(157, 209, 59);" 
						data-bs-toggle="modal" 
						data-bs-target="#rechazarModal"
						href="{% url 'rechazar_turno' %}">
						Rechazar Turno
					</a>
				</td>
			</tr>
			{% endfor %}
			{%else%}
			<p>No se encontraron turnos pendientes</p>
			{%endif%}
		</table>
	</div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="confirmModalLabel">Confirmar turno</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <p>¿Está seguro que quiere confirmar el turno?</p>
		  <form method="post">
			<div class="mb-3">
			  <label for="inputName" class="form-label">Observaciones</label>
			  <input type="text" class="form-control" name="observaciones" id="observaciones" placeholder="Ingrese alguna observación (opcional)">
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
		  <a  id="aceptarConfirmarTurno" class="btn btn-danger">Aceptar</a>
		</div>
	  </div>
	</div>
</div>

<div class="modal fade" id="rechazarModal" tabindex="-1" aria-labelledby="rechazarModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="rechazarModalLabel">Rechazar turno</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <p>¿Está seguro que quiere rechazar el turno?</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
		  <a  id="rechazarEliminarTurno" class="btn btn-danger">Aceptar</a>
		</div>
	  </div>
	</div>
</div>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		const confirmarTurnoLinks = document.querySelectorAll(".confirmar-turno");
		const aceptarConfirmarTurnoButton = document.querySelector("#aceptarConfirmarTurno");

		confirmarTurnoLinks.forEach(function (link) {
			link.addEventListener("click", function (event) {
				event.preventDefault();
				const confirmarTurnoUrl = link.href;
				aceptarConfirmarTurnoButton.addEventListener("click", function () {
					window.location.href = confirmarTurnoUrl;
				});
			});
		});
	});
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const rechazarTurnoLinks = document.querySelectorAll(".rechazar-turno");
		const rechazarEliminarTurnoButton = document.querySelector("#rechazarEliminarTurno");

		rechazarTurnoLinks.forEach(function (link) {
			link.addEventListener("click", function (event) {
				event.preventDefault();
				const rechazarTurnoUrl = link.href;
				rechazarEliminarTurnoButton.addEventListener("click", function () {
					window.location.href = rechazarTurnoUrl;
				});
			});
		});
	});
</script>
{%endblock%}