{% extends 'layout.html' %}

{% block title %}OhMyDog - Solicitudes de turnos{% endblock %}

{% block content %}
<div class="container" style="
    float: none;
    text-align: center;
    display: block;
    width: 1510px;
    max-width: 1980px;
    height: 1080px;
">
	<p></p>

	<div class="card">
		<h1>Solicitudes de turnos</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Fecha</th>
					<th scope="col">Cliente</th>
					<th scope="col">Confirmar</th>
					<th scope="col">Rechazar</th>
				</tr>
			</thead>
			<tbody>
				{% if solicitudes_de_turnos %}
				{% for turno in solicitudes_de_turnos %}
				<tr>
					<td>{{ turno.id }}</td>
					<td>{{ turno.fecha_del_turno }}</td>
					<td>{{ turno.cliente.nombre }}</td>
					<td>
						<form method="post" action="{% url 'confirmar_turno' %}">
							{% csrf_token %}
							<input type="hidden" name="turno_id" value="{{ turno.id }}">
							<input type="hidden" name="next" value="{{ request.path }}">
							<button type="submit" class="btn btn-secondary confirmar-turno"
								style="background-color: rgb(157, 209, 59)">Confirmar Turno</button>
						</form>
					</td>
					<td>
						<form method="post" action="{% url 'rechazar_turno' %}">
							{% csrf_token %}
							<input type="hidden" name="turno_id" value="{{ turno.id }}">
							<input type="hidden" name="next" value="{{ request.path }}">
							<button type="submit" class="btn btn-secondary rechazar-turno"
								style="background-color: rgb(157, 209, 59)">Rechazar Turno</button>
						</form>
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td colspan="5">No se encontraron turnos pendientes</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}