{% extends 'layout.html' %} 

{% block title %}OhMyDog - Solicitar turno{% endblock %} 

{% block content %}
<div
	class="container"
	style="
		float: none;
		text-align: center;
		display: block;
		width: 1510px;
		max-width: 1980px;
		height: 1080px;
	"
>
	<div class="card" style="border-radius: 1rem">
		<div class="container py-5">
			<h1 class="text-center mb-4">Solicitar turno</h1>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<form method="post">
						{% csrf_token %}
						<div class="mb-3">
							<label for="fecha_solicitada" class="form-label"
								>Fecha Del Turno</label
							>
							<input
								type="date"
								class="form-control"
								id="fecha_solicitada"
								name="fecha_solicitada"
								min="{{ min }}"
								required
							/>
						</div>
						<div class="mb-3">
							<label for="tipo_de_atencion" class="form-label"
								>Tipo de atención</label
							>
							<select
								id="tipo_de_atencion"
								name="tipo_de_atencion"
							>
								{% for atencion in atenciones %}
								<option value="{{atencion.id}}">
									{{ atencion.nombre }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div class="mb-3">
							<label for="franja_horaria" class="form-label"
								>Franja horaria</label
							>
							<select id="franja_horaria" name="franja_horaria">
								{% for franja_horaria in franjas_horarias %}
								<option value="{{franja_horaria.id}}">
									{{ franja_horaria.nombre }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div class="mb-3">
							<label for="notas" class="form-label"
								>Notas (Opcional)</label
							>
							<input
								type="notas"
								class="form-control"
								id="notas"
								name="notas"
								placeholder="Ingrese alguna observación (opcional)"
							/>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">
								Registrar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
