{% extends 'layout.html' %}

{% block title %}OhMyDog - Solicitar turno{% endblock %}

{% block content %}
<div class="container containerPrincipal">
	<div class="card" style="border-radius: 1rem">
		<div class="container py-5">
			<h1 class="text-center mb-4">Solicitar turno</h1>
			<div class="row justify-content-center">
				<div class="col-md-6">
					<form method="post">
						{% csrf_token %}
						<div class="mb-3">
							<label for="fecha_solicitada" class="form-label">Fecha del turno</label>
							<input type="date" class="form-control" id="fecha_solicitada" name="fecha_solicitada"
								 required min="{{mañana}}"/>
						</div>
						<div class="mb-3">
							<label for="perro" class="form-label">Perro</label>
							<select class="form-select" id="perro_id" name="perro_id">
								<option value="">Otro</option>
								{% for perro in perros %}
								<option value="{{perro.id}}">
									{{ perro.nombre }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div class="mb-3">
							<label for="tipo_de_atencion" class="form-label">Tipo de atención</label>
							<select class="form-select" id="tipo_de_atencion" name="tipo_de_atencion">
								{% for atencion in atenciones %}
								<option value="{{atencion.id}}">
									{{ atencion.nombre }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div class="mb-3">
							<label for="franja_horaria" class="form-label">Franja horaria</label>
							<select class="form-select" id="franja_horaria" name="franja_horaria">
								{% for franja_horaria in franjas_horarias %}
								<option value="{{franja_horaria.id}}">
									{{ franja_horaria.nombre }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">
								Registrar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


{%endblock%}